@charset "UTF-8";
body {
  background-color: #f6f6f1; }

#content {
  width: 900px;
  margin: 0 auto;
  padding: 500px 0 0 0; }
  #content article {
    font: 200 18px/2 "Lantinghei SC","Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif; }
    #content article a {
      color: #4078c0; }
      #content article a:hover, #content article a:active {
        text-decoration: underline; }

.content-bg {
  border-bottom: 1px solid white;
  position: absolute;
  top: 78px;
  left: 0;
  height: 460px;
  width: 100%;
  overflow: hidden; }
  .content-bg .content-bg-img {
    width: 100%;
    height: 680px;
    background: url(/Content/Images/sad-nav-template.jpg) no-repeat;
    position: relative;
    left: 0;
    transition: left 10s linear 0s;
    background-size: cover;
    background-position: center bottom; }

.blog-title {
  font-size: 2.1em;
  padding: 0 15px 0 0;
  line-height: 2em;
  border-bottom: 1px dashed #CCC;
  color: #666;
  font-weight: 300; }

.blog-content {
  padding: 40px 0 20px;
  line-height: 1.6;
  letter-spacing: 0.5px; }
  .blog-content .highlight-source {
    margin-bottom: 16px;
    padding: 16px;
    overflow: auto;
    font-size: 85%;
    background-color: #f7f7f7;
    border-radius: 3px; }
    .blog-content .highlight-source code {
      line-height: 1.6;
      font-size: 16px;
      margin: 1em 0px 1em;
      background-color: #f7f7f7; }
  .blog-content code {
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
    padding: 0 0.5em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    margin: 0;
    font-size: 85%;
    background-color: rgba(0, 0, 0, 0.04);
    border-radius: 3px; }
  .blog-content h1, .blog-content h2, .blog-content h3, .blog-content h4, .blog-content h5, .blog-content h6 {
    margin-top: 2em;
    margin-bottom: 16px;
    /*font-weight: bold;*/
    line-height: 1.4;
    /*font-weight: normal;*/ }
  .blog-content hr {
    margin: 20px 0; }
  .blog-content h1 {
    padding-bottom: 0.3em;
    font-size: 2em;
    line-height: 1.2;
    border-bottom: 1px solid #eee; }
  .blog-content h2 {
    padding-bottom: 0.3em;
    font-size: 1.75em;
    line-height: 1.225;
    border-bottom: 1px solid #eee; }
  .blog-content h3 {
    font-size: 1.5em;
    line-height: 1.43; }
  .blog-content h4 {
    font-size: 1.25em; }
  .blog-content h5 {
    font-size: 1em; }
  .blog-content h6 {
    font-size: 1em;
    color: #777; }
  .blog-content blockquote {
    padding: 0 15px;
    color: #777;
    border-left: 4px solid #ddd; }
  .blog-content ul {
    padding-left: 2em; }
  .blog-content li {
    list-style: disc; }
  .blog-content p, .blog-content ul, .blog-content ol, .blog-content dl, .blog-content table, .blog-content pre, .blog-content blockquote {
    margin-top: 0;
    margin-bottom: 16px; }
  .blog-content p {
    text-align: justify;
    line-height: 1.8;
    /*text-indent: 2em;*/
    /*
    padding: 10px;
    text-align: justify;
    word-wrap: break-word;
    word-break: normal;
    line-height: 30px;
    letter-spacing: 1px;*/ }

.blog-more-info {
  padding: 50px 0;
  position: relative;
  /*comment-context*/ }
  .blog-more-info .blog-more-head {
    position: relative;
    bottom: -1px;
    height: 40px; }
    .blog-more-info .blog-more-head .blog-comment-txt {
      height: 40px;
      border: 1px solid #CCC;
      border-radius: 4px 4px 0 0;
      background-color: white;
      border-bottom: 1px solid #FFF;
      text-align: center;
      /*position: relative;*/
      /*left: 100px;*/
      padding: 1px 1px 0 1px;
      display: inline-block;
      float: left;
      margin-left: 55px; }
      .blog-more-info .blog-more-head .blog-comment-txt span {
        color: #999;
        font-size: 22px;
        display: block;
        line-height: 40px;
        height: 40px;
        padding: 0 15px;
        border: none;
        top: 1px;
        left: 1px; }
    .blog-more-info .blog-more-head .licenses {
      width: 91px;
      display: inline-block;
      height: 31px;
      overflow: hidden;
      text-indent: -9999em;
      background: url("http://tasaid.com/Content/Images/licenses-cc4.png") no-repeat; }
  .blog-more-info .oprater {
    color: #666; }
    .blog-more-info .oprater:hover {
      color: #dd5862; }
    .blog-more-info .oprater span {
      padding-left: 2px; }
    .blog-more-info .oprater.active {
      color: #dd5862;
      cursor: default; }
  .blog-more-info .blog-info {
    position: absolute;
    right: 10px;
    bottom: 5px;
    overflow: hidden;
    padding-right: 45px; }
    .blog-more-info .blog-info li {
      float: right;
      color: #999;
      padding-left: 25px;
      vertical-align: bottom; }
      .blog-more-info .blog-info li span {
        background-color: #FFF;
        padding-right: 10px; }
    .blog-more-info .blog-info .blog-info-date {
      padding-left: 10px; }
      .blog-more-info .blog-info .blog-info-date time {
        background-color: #999;
        border-radius: 18px;
        color: #fff;
        font-size: 13px;
        padding: 3px 12px; }
  .blog-more-info .blog-more-comment {
    border-top: 1px solid #CCC;
    background-color: white;
    padding-top: 1px;
    padding: 35px 55px; }
    .blog-more-info .blog-more-comment .blog-comment-info input, .blog-more-info .blog-more-comment .cmt-context {
      border: 1px solid #CCC; }
    .blog-more-info .blog-more-comment .blog-comment-info {
      padding-bottom: 15px;
      overflow: hidden; }
    .blog-more-info .blog-more-comment li {
      display: inline-block; }
    .blog-more-info .blog-more-comment input {
      width: 300px;
      border-radius: 3px; }
    .blog-more-info .blog-more-comment input[type=checkbox] {
      vertical-align: middle;
      margin-bottom: 0px;
      margin-top: -1px;
      height: 14px;
      width: 14px !important; }
    .blog-more-info .blog-more-comment input:focus {
      border-color: #66afe9; }
  .blog-more-info .blog-comment-bar {
    padding-bottom: 35px; }
  .blog-more-info .comment-bar {
    width: 100%;
    /*comment*/ }
    .blog-more-info .comment-bar .cmt-context {
      padding: 10px;
      display: block;
      min-height: 80px;
      width: 100%;
      border-radius: 3px 3px 0 0;
      border: 1px solid #CCC; }
    .blog-more-info .comment-bar .comment-more-bar {
      position: relative; }
    .blog-more-info .comment-bar .comment-more-bg {
      height: 36px;
      background-color: #fbfbfb;
      border: 1px solid #CCC;
      border-top: none;
      padding: 0 200px 0 100px; }
    .blog-more-info .comment-bar .submitLock {
      background-color: #75b4f4 !important; }
    .blog-more-info .comment-bar .ct-submit {
      height: 33px;
      width: 110px;
      cursor: pointer;
      position: absolute;
      right: 2px;
      top: 1px; }
  .blog-more-info .blog-comment-context {
    border-top: 1px dashed #CCC;
    padding-top: 10px;
    /*comment-reply*/
    /*reply-comment*/
    /*page-btn*/
    /*footer*/ }
    .blog-more-info .blog-comment-context .ct-context {
      padding: 10px 0; }
      .blog-more-info .blog-comment-context .ct-context p {
        text-align: justify;
        white-space: pre-wrap;
        word-break: break-all;
        word-wrap: break-word; }
    .blog-more-info .blog-comment-context .comment-item, .blog-more-info .blog-comment-context .cr-item {
      padding: 20px 0; }
    .blog-more-info .blog-comment-context .comment-item:last-child .ctitem-content, .blog-more-info .blog-comment-context .cr-item:last-child .cr-content {
      border-bottom: none;
      padding-bottom: 0; }
    .blog-more-info .blog-comment-context .ctitem-content, .blog-more-info .blog-comment-context .cr-content {
      border-bottom: 1px solid #e5e5e5;
      padding-bottom: 20px; }
    .blog-more-info .blog-comment-context .ct-footer, .blog-more-info .blog-comment-context .cr-footer {
      text-align: right; }
    .blog-more-info .blog-comment-context .ct-num {
      float: left; }
    .blog-more-info .blog-comment-context a.ct-name {
      color: #54a3f3; }
    .blog-more-info .blog-comment-context a.ct-name:hover {
      text-decoration: underline; }
    .blog-more-info .blog-comment-context a.ct-name:visited {
      color: #c03980; }
    .blog-more-info .blog-comment-context span.ct-name, .blog-more-info .blog-comment-context .ct-time, .blog-more-info .blog-comment-context .ct-num, .blog-more-info .blog-comment-context .cr-time {
      color: #8b8b8b; }
    .blog-more-info .blog-comment-context .ct-name, .blog-more-info .blog-comment-context .cr-name {
      font-size: 18px; }
    .blog-more-info .blog-comment-context .ct-reply, .blog-more-info .blog-comment-context .cr-reply {
      margin-left: 15px;
      color: #666;
      opacity: 0.65; }
    .blog-more-info .blog-comment-context .ct-reply:before, .blog-more-info .blog-comment-context .cr-reply:before {
      background: url("/Content/Images/icon-player.png") no-repeat scroll -50px -60px transparent;
      content: '';
      display: inline-block;
      width: 14px;
      height: 16px;
      vertical-align: middle;
      margin-right: 4px; }
    .blog-more-info .blog-comment-context .ct-reply:hover, .blog-more-info .blog-comment-context .cr-reply:hover {
      opacity: 1; }
    .blog-more-info .blog-comment-context .comment-reply {
      margin-top: 5px;
      position: relative;
      background-color: #f9f9f9;
      padding: 0 12px 0 15px;
      border: 1px solid #eee;
      border-radius: 5px; }
    .blog-more-info .blog-comment-context .cr-content {
      padding: 0 0 5px 25px; }
    .blog-more-info .blog-comment-context .cr-arrow {
      top: -12px;
      left: 49%; }
    .blog-more-info .blog-comment-context .rc-arrow {
      right: 12px;
      top: -12px; }
    .blog-more-info .blog-comment-context .reply-bar {
      padding: 15px 0; }
    .blog-more-info .blog-comment-context .reply-bar .blog-comment-info input {
      width: 285px; }
    .blog-more-info .blog-comment-context .blog-page-btn {
      background: url(/Content/Images/ico_sliding.png) no-repeat scroll 0 0 transparent;
      height: 65px;
      margin-top: -36px;
      overflow: hidden;
      position: fixed;
      text-indent: 100%;
      top: 40%;
      white-space: nowrap;
      width: 40px;
      z-index: 10;
      display: inline;
      transition: none;
      display: none; }
    .blog-more-info .blog-comment-context .blog-page-btn:hover {
      transition: none; }
    .blog-more-info .blog-comment-context .blog-prev {
      background-position: 0 -432px;
      left: 30px; }
    .blog-more-info .blog-comment-context .blog-prev:hover {
      background-position: 0 -498px; }
    .blog-more-info .blog-comment-context .blog-next {
      background-position: -80px -432px;
      right: 30px; }
    .blog-more-info .blog-comment-context .blog-next:hover {
      background-position: -80px -498px; }
    .blog-more-info .blog-comment-context #said-footer {
      padding-bottom: 40px; }

/*# sourceMappingURL=blog.css.map */
